/* styles.css */
body, html {
    margin: 0;
    width: 100%;
    padding: 0;
    height: 100%;
    background-color: #111;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    text-align: center;
    position: relative;
    z-index: 1;
}

.header h1 {
    color: white;
    font-size: 4em;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    margin-bottom: 50px;
}

.flowers {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.flower {
    width: 40px;
    height: 40px;
    background-color: #ff4081;
    border-radius: 50%;
    animation: bloom 3s ease-in-out infinite;
}

.flower1 { animation-delay: 0s; }
.flower2 { animation-delay: 0.5s; }
.flower3 { animation-delay: 1s; }
.flower4 { animation-delay: 1.5s; }

@keyframes bloom {
    0% { transform: scale(0); opacity: 0; }
    50% { transform: scale(1.5); opacity: 1; }
    100% { transform: scale(0); opacity: 0; }
}

/* Estilo de los fuegos artificiales */
#fireworks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.firework {
    position: absolute;
    width: 6px; /* Tamaño inicial más pequeño */
    height: 6px; /* Tamaño inicial más pequeño */
    background-color: white;
    border-radius: 50%;
    animation: explode 1.5s forwards;
    opacity: 0;
}

/* Animación de explosión */
@keyframes explode {
    0% { 
        transform: scale(0) translate(0, 0); 
        opacity: 1;
    }
    40% { 
        transform: scale(3) translate(var(--x), var(--y)); /* Expande más */
        opacity: 1; /* Mantener visible el fuego */
    }
    100% { 
        transform: scale(0) translate(0, 0); 
        opacity: 0; /* Desaparece el fuego */
    }
}
#img2{
    position: absolute;
    left: -500px;
    bottom: 100px;

}
#img3{
    position: absolute;
    left: 600px;
    bottom: 50px;
    width: 80%;
    height: 80%;
}